body {
	margin: 0;
	padding: 0;
	font-family: 'Proza Libre', sans-serif;
	background-color: #cacaca;
	overflow-x: hidden;
}

#titleFilme {
	text-align: center;
	font-size: 23px;
}

h1, h2, h3, h4, h5, nav ul li a, #note{
	font-family: 'Montserrat', sans-serif;
}

main {
	width: 60vw; /* 60% de la largeur de la page */
	margin-right: auto;
	margin-left: auto;
	background-color: #FFF;
	padding: 10px;
	box-shadow: 1px 1px 20px #848484;
}

a {
	text-decoration: none;
	color: #5D5D5D;
	font-weight: bold;
}

a:hover {
	text-decoration: underline;
}

a aside figure figcaption {
	color: #000;
}

header, footer {
	width: 100vw;
	height: 4vw;
	vertical-align: middle;
	background-color: #353535;
	color: #FFF;
}

header h1 {
	display: inline-block;
	height: 4vw;
	line-height: 4vw;
	margin-top: 0;
	margin-left: 2vw;
}

header h1 a, header h1 a:hover {
	color: inherit;
	text-decoration: inherit;
}

nav {
	width: auto;
	height: 4vw;
	display: inline-block;
	position: absolute;
	right: 0;
}

nav ul {
	margin-top: 0;
}

nav ul li {
	list-style: none;
	display: inline-block;
	text-align: center;
}

nav ul li:hover {
	background-color: #565656;
}

nav ul li a, nav ul li a:hover {
	color: #FFF;
	font-weight: bold;
	height: 4vw;
	line-height: 4vw;
	width: 150px;
	text-decoration: none;
	display: inline-block;
}

#banniereFilm {
	width: 100vw;
	height: 350px;
	content: " ";
	display: block;
	position:  absolute;
	z-index: -1;
	overflow: hidden;
}

#banniereFilm {
	overflow: hidden;
    position: relative;
    height: 350px;
}

#banniereFilm img {
	display: none;
}

#banniereInformations {
	position: relative;
	margin-top: 3vw;
}

#banniereInformations, #note {
	color: #FFF;
	width: 60vw; /* 60% de la largeur de la page */
	margin-right: auto;
	margin-left: 20vw;
}

#banniereInformations h1 {
	font-size: 60px;
	margin: 20px 0 0 0;
}

#banniereInformations time {
	font-style: italic;
	font-weight: bold;
}

#note {
	font-weight: bold;
	font-size: 45px;
	position: absolute;
	margin-top: 75px;
	right:  0;
	width: auto;
}

#imagesFilm figure {
	margin: 0px 5px;
	display: inline-block;
}

.rating {
	width: 310px;
	margin-top: 1vw;
	font-size: 35px;
	overflow:hidden;
}
.rating a {
	float:right;
	color: #aaa;
	text-decoration: none;
}

.rating a:hover,
.rating a:hover ~ a,
.rating a:focus,
.rating a:focus ~ a		{
	color: orange;
	cursor: pointer;
}
.rating2 {
	direction: rtl;
}
.rating2 a {
	float:none
}

.rating .ratingOrange {
    color: orange;
}

#realANDactor aside {
	margin: 0;
	display: inline-block;
}

.figcaptionAbove {
	margin: 10px;
}

.figcaptionAbove figcaption {
	position: absolute;
	background: rgba(255,255,255,0.65);
	text-align: center;
	width: 150px;
	height: 30px;
	line-height: 30px;
	margin-top: 170px;
	font-weight: bold;
}

.figcaptionActeur figcaption {
	height: 60px;
	margin-top: 140px;
}

.figcaptionAbove figcaption p {
	margin: 0;
	font-weight: normal;
	font-style: italic;
}

footer {
	text-align: center;
	height: inherit;
	padding: 10px 0;
	margin-top: 5vw;
}

.film {
	background-color: #E1E1E1;
	padding: 10px;
	width: 98%;
	margin-bottom: 10px;
	border-radius: 10px;
	font-size: 18px;
}

.aFilm:hover .film {
	background-color: #cac8c8;
}

.aFilm:hover {
	text-decoration: inherit;
}

/*====================================== CSS SMARTPHONE ==============================================*/
@media only screen and (min-width : 320px) and (max-width : 480px) {
	main {
		width: 100vw;
		margin: 0;
		box-sizing: border-box;
	}

	header h1 {
		display: inherit;
		text-align: center;
		line-height: inherit;
		margin-bottom: 8vw;
		padding-top: 3vw;
	}

	header {
		height: 35vw;
	}

	nav, nav ul li, nav ul {
		display: block;
		text-align: center;
		width: 80vw;
		margin-right: auto;
		margin-left: auto;
		position: inherit;
		padding: inherit;
	}

	#banniereInformations {
		margin-left: 10vw;
	}

	#note {
		margin-top: 115px;
	}

	.film {
		width: 95%;
	}

}


/* =================        CSS TABLETTES       ================== */

@media only screen and (min-width : 768px) and (max-width : 1024px) {
	main {
		width: 90vw;
	}

	header, header h1, nav, nav ul li a, nav ul li a:hover {
		height: 6vw;
		line-height: 6vw;
	}

	.film {
		width: 97%;
	}

}